<dl>
  <dt>Temperature</dt>
  <dd><%= @weather_forecast.temperature(scale=:celcius).round %> C</dd>
  <dd><%= @weather_forecast.temperature.round %> F</dd>
</dl>

<p>
  Cached?
  <% if Rails.cache.exist?("weather_forecast:#{@weather_forecast.location}:realtime") %>
    <span>Yes</span>
  <% else %>
    <b style="color: red;">No</b>
  <% end %>
</p>
