<h1><%= @weather_forecast.location %></h1>

<%= render partial: "realtime_forecast" %>

<%= link_to 'Extended Forecast', extended_weather_forecast_path(@weather_forecast) %> | 
<%= link_to 'New Search', new_weather_forecast_path %>
